<!doctype html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<html>
<head>
	<title>PLN</title>
</head>
<body>
	<div class="container-fluid">
	<div class="row">
	    <div class="col-sm-4" >
	    	<img class="img-responsive" src="PLN_imagen.jpg" alt="Chania" width="190" height="190"> 
	    </div>
	    <div class="col-sm-4" >
			
				<h3 align="center"><font color="blue">FREELING</font></h3>
				<h4 align="center">Analisis Morfologico</h4>
				<h4 align="center">Stemmer</h4>
				<h4 align="center">Lematizador</h4>
				<h5 align="center">En espanol</h5>
				<hr>
		</div>
	</div>
	<p align="center"><i>Brayan Rodriguez - Nelson Portilla</i></p> 
	<div class="container">
		<div class="panel-body">
			<form action="." method="POST">
			<i>Digite el texto:</i><br>
				<textarea class="form-control" rows="5" name="id_entrada" id="id_entrada">{{texto}}</textarea>
			<span class="glyphicon glyphicon glyphicon-eye-open"></span><input type="submit" class="btn btn-primary" value="Analizar!"></input>
			<Button type="button" onclick="gettext()" class="btn btn-danger"><span class="glyphicons glyphicon glyphicon-trash"></span> Limpiar</Button>
			</form>
		</div>
		<div class="panel-body">
			<b>Resultado:<b>
			<textarea class="form-control", rows="5", name"id_salida" id="id_salida">{{texto_analisis}}</textarea>
		</div>
	</div>

</body>

<script type="text/javascript">
function gettext(){
	var texto;
	texto=document.getElementById("id_entrada").value;
	console.log(texto);
	}
</script>


</html>